body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.container{
    flex:1;
}

/*Navbar */
.navbar{
    height:5rem;
    background-color: white;
}

/* navbar logo */
.fa-compass{
    color:#fe424d ;
    font-size:2rem;
}

/*fonts inside navbar */
.nav-link{
    color:#222222 !important;
}

/*Footer*/
.f-info-links a{
    text-decoration: none;
    color:#222222;
} 
.f-info-links a:hover{
    text-decoration:underline;
}

.f-info{
    height:5rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}

.f-info-links , .f-info-socials, .f-info-brand{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:1rem;
}

/*cards*/
.listing-card{
    border:none !important;
    margin-bottom:2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover !important;
}
.card-body{
    padding:0 !important;
}
.card-text{
    font-weight:400 !important;
}
/*card click*/
.listing-link{
    text-decoration:none;
}
/*card effeect*/
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
/*button inside new */
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/*button inside edit */
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/*show.ejs showing info */
.show-img{
    height:30vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
.btns{
    display: flex;
}

.show-card .card {
    border: none !important;
    box-shadow: none !important; /* optional if you also want no shadow */
}

#map{
    height:400px;
    width:100vh;
}